body {
    width: 450px;
    background-color: pink;
    text-align: center;
    color: white;
    margin: 0 auto;
}
.title {
    color: white;
}
.list{
    color: black;
    text-align: left;
    font-weight: bolder;
}
img{
width: 25%;
}